<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/home/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/home/css/style.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/home/css/contacts-style.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/home/css/information-style.css">
    </head>
    <body>
    <header th:if="${header_url != null}">
        <iframe id="header" title="Header" th:src="${header_url}" th:style="'width:100%;height:'+${header_height}+'px;border:none;overflow:hidden;transition: all 0.3s ease 0s;'" scrolling="no"
                frameborder="0"></iframe>
    </header>
    <main>
        <div class="container-fluid">
            <div class="welcome-session">
                <form class="form-signin" method="post" action="/logout">
                    <h2 class="text-center">Are you sure you want to log out?</h2>
                    <button class="btn btn-lg btn-primary btn-block w-auto mx-auto" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </main>
    <footer th:if="${footer_url != null}">
        <iframe id="footer" th:src="${footer_url}" style="width:100%;border:none;overflow:hidden;" scrolling="no"
                frameborder="0"></iframe>
    </footer>
    </body>
</html>